{% extends 'base_layout.html' %}

{% block content %}

<h1 class="container-fluid"> Login </h1>
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h3 class="text-center"> Login Form </h3>
				</div>
				<div class="card-body">
					<form class="site-form" action="{% url 'accounts:login' %}" method="post">
						{% csrf_token %}
						
						{% if request.GET.next %}
							<input type="hidden" name="next" value="{{ request.GET.next }}">
						{% endif %}
						{{form}}
							<!-- <label for="id_username">Username</label>
							<input type="text" class="form-control" name="username" id="id_username" maxlength="150" autofocus required>
						
						
							<span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
						

						
							<label for="id_password1">Password:</label>
							<input type="password" name="password1" class="form-control" required id="id_password1">
						

						
							<span class="helptext">
								<ul>
									<li>Your password can't be too similar to your other personal information.</li>
									<li>Your password must contain at least 8 characters.</li>
									<li>Your password can't be a commonly used password.</li>
									<li>Your password can't be entirely numeric.</li>
								</ul>
							</span> -->

						<input type="submit" class="btn btn-lg btn-block btn-info" value="login">
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

{% endblock %}