{% extends 'base_layout.html' %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<h2 class="text-center">Create an article</h2>
					</div>
					<div class="card-body">
						<form class="site-form" action="{% url 'articles:create' %}" method="post" enctype="multipart/form-data">
							{% csrf_token %}

							{{form}}
							<input type="submit" class="btn btn-lg btn-block btn-success" value="create article">
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

{% endblock %}